@import "layout.css";

body {
	background-color: var(--body-background);
}

.container{
	background-color: var(--content-background);
	box-shadow: 2px 2px 5px 1px var(--content-background);
	margin: 10px;
}

.adminItem {
	position: relative;
	text-align: left;
	min-width: 60vw;
	max-width: 80vw;
	padding: 5px;
	border-radius: 10px;
}

.adminWho, .adminRoom {
	min-width: 30%;
}

.adminWhat {
	min-width: 35%;
}

.adminX {
	position: absolute;
	right: 5px;
	top: 10px;
	min-width: 5%;
}

.adminRoom::after,.adminWhat::after {
	content: "·";
	margin-left: 3px;
	margin-right: 3px;
}

.adminWhy {
	width: 100%;
	display: block;
	text-align: left;
	margin: 5px;
}

.adminWhy::before {
	content: "->";
}

button.removeButton {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	border: none;
	font-size: 30px;
	line-height: 30px;
	padding-bottom: 15px;
	padding-left: 7px;
	border-radius: 50%;
	height: 36px;
	width: 36px;
	color: rgb(222, 222, 222);
	background-color: var(--input-shadow);
}

button.submit {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	border: none;
	font-size: 30px;
	background: var(--green);
	box-shadow: 2px 2px 2px 2px var(--green-transparent);
	border-radius: 50%;
	outline: none;
	width: 60px;
	height: 60px;
	margin: 15px;
	color: white;
	font-family: "SF Pro Text";
	transition: background .3s, box-shadow .3s;
}

button.submit:enabled{
	background: var(--green);
	box-shadow: 2px 2px 2px 2px var(--green-transparent);
	/*animation: greentored .3s;*/
	cursor: pointer;
}
button.submit:disabled{
	background: var(--red);
	box-shadow: 2px 2px 2px 2px var(--red-transparent);
	/* animation: redtogreen .3s;*/
	cursor: not-allowed;
}

/* animations */

@keyframes redtogreen {
	from {
		background: var(--red);
		box-shadow: 2px 2px 2px 2px var(--red-transparent);
	}
	to {
		background: var(--green);
		box-shadow: 2px 2px 2px 2px var(--green-transparent);
	}
}
@keyframes greentored {
	from {
		background: var(--green);
		box-shadow: 2px 2px 2px 2px var(--green-transparent);
	}
	to {
		background: var(--red);
		box-shadow: 2px 2px 2px 2px var(--red-transparent);
	}
}

@keyframes fadeOut {
	from { opacity: 1; }
	to { opacity: 0; }
}

@keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}
