:root{
	--red:rgba(244,67,54,0.8);
}

body {
	line-height: 1;
	text-align: center;
	font-family: 'Open Sans',"Lucida Sans Unicode", sans-serif;
	background-color: rgba(241,241,241,0.6);
}

#container{
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	min-width: 600px;
	padding: 15px;
	border-radius: 25px;
}

.container{
	background-color: rgba(222,222,222,0.6);
	box-shadow: 2px 2px 5px 1px rgba(222,222,222,0.6);
	margin: 10px;
}

img.headlogo {
	position: absolute;
	top: 10px;
}

hr.headlogo {
	color: black;
	background-color: black;
	position: absolute;
	left: 0px;
	width: 100%;
}

table {
	text-align: left;
	margin: auto;
	padding-top: 15px;
}

label {
	margin: 5px;
	font-size: 16px;
}

@media only print {
	.headlogo {
		display: none;
	}

	#container {
		width: 100%;
		height: 100%;
	}

	button {
		display: none;
		box-shadow: none;
	}
}

@media (max-width: 1100px) and (orientation: portrait;) {
	/* mobile view, idk if this works */
}

@media (max-height: 800px) {
	img.headlogo {
		width: 200px;
		left: 10px;
	}
	hr.headlogo {
		top: 55px;
		height: 4px;
	}
}

@media (min-height: 880px) {
	img.headlogo {
		width: 400px;
		left: 50%;
		-ms-transform: translate(-50%, 0%);
		transform: translate(-50%, 0%);
	}
	hr.headlogo {
		top: 109px;
		height: 6px;
	}
}

.adminItem {
	text-align: left;
	width: 100%;
	padding: 5px;
	border-radius: 10px;
}

.adminWho, .adminRoom {
	min-width: 30%;
}

.adminWhat {
	min-width: 35%;
}

.adminX {
	position: absolute;
	right: 0px;
	min-width: 5%;
}

.adminRoom::after,.adminWho::after {
	content: "·";
	margin-left: 3px;
	margin-right: 3px;
}

.adminWhy {
	width: 100%;
	display: block;
	text-align: left;
	margin: 5px;
}

.adminWhy::before {
	content: "->";
}

input {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	border: none;
	width: 100%;
	height: 40px;
	line-height: 25px;
	padding: 5px;
	padding-left: 10px;
	background: rgba(193,193,193,0.4);
	color: #000;
	font-size: 16px;
	box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.3);
	border-radius: 9px;
	outline: none;
	margin: 5px;
	overflow: visible;
}

datalist {
	display: none;
}

/*
select {
-moz-appearance: none;
-webkit-appearance: none;
appearance: none;
border: none;
width: 108.6%;
height: 40px;
padding-left: 10px;
background: rgba(193,193,193,0.4);
color: #000;
font-size: 16px;
box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.3);
border-radius: 9px;
outline: none;
cursor: pointer;
}

.selector {
	position: relative;
	margin: 5px;
}

.selector::before {
	font-family: Arial;
	content: "▼";
	font-size: 17px;
	position: absolute;
	right: -7px;
	top: 11px;
	color: #000; 
	pointer-events: none;
}
 */
	button {

	}
	button.submit {
		-moz-appearance: none;
		-webkit-appearance: none;
		appearance: none;
		border: none;
		font-size: 30px;
		background: rgba(0,192,8,0.6);
		box-shadow: 2px 2px 2px 2px rgba(0,192,8,0.1);
		border-radius: 50%;
		outline: none;
		width: 60px;
		height: 60px;
		margin: 15px;
		color: white;
		font-family: "SF Pro Text";
		transition: background .3s, box-shadow .3s;
	}

	button.submit:enabled{
		background: rgba(0,192,8,0.6);
		box-shadow: 2px 2px 2px 2px rgba(0,192,8,0.1);
		/*animation: greentored .3s;*/
		cursor: pointer;
	}
	button.submit:disabled{
		background: rgba(244,67,54,0.8);
		box-shadow: 2px 2px 2px 2px rgba(244,67,54,0.1);
		/* animation: redtogreen .3s;*/
		cursor: not-allowed;
	}

	/* animations */

	@keyframes redtogreen {
		from {
			background: rgba(244,67,54,0.8);
			box-shadow: 2px 2px 2px 2px rgba(244,67,54,0.1);
		}
		to {
			background: rgba(0,192,8,0.6);
			box-shadow: 2px 2px 2px 2px rgba(0,192,8,0.1);
		}
	}
	@keyframes greentored {
		from {
			background: rgba(0,192,8,0.6);
			box-shadow: 2px 2px 2px 2px rgba(0,192,8,0.1);
		}
		to {
			background: rgba(244,67,54,0.8);
			box-shadow: 2px 2px 2px 2px rgba(244,67,54,0.1);
		}
	}

	@keyframes fadeOut {
		from { opacity: 1; }
		to { opacity: 0; }
	}

	@keyframes fadeIn {
		from { opacity: 0; }
		to { opacity: 1; }
	}

	/*Internet Explorer Müll*/

	button::-ms-expand {
		display: none;
	}

	select::-ms-expand {
		display: none;

	}

	select:focus::-ms-value {
		background-color: transparent;
	}

